<footer class="footer">
  <div class="footer__container">
    <div class="footer__top top-footer">
      <div class="top-footer__columns">
        <div class="top-footer__column cl">
          <div class="top-footer__lang">
            <div class="top-footer__img">
              <img
                src="../assets/images/icon-lang.svg"
                alt="languagge-icon"
                class="icon-lang" />
              <img
                src="../assets/images/poland.svg"
                alt="poland-icon"
                class="icon-flag" />
            </div>
            <span class="top-footer__text">Poland</span>
          </div>
          <div class="top-footer__lang">
            <div class="top-footer__img">
              <img
                src="../assets/images/icon-lang.svg"
                alt="languagge-icon"
                class="icon-lang" />
              <img
                src="../assets/images/poland.svg"
                alt="poland-icon"
                class="icon-flag" />
            </div>
            <span class="top-footer__text">English</span>
          </div>
        </div>
        <div class="top-footer__column right-column">
          <div class="right-column__body">
            <div class="right-column__columns">
              <div class="right-column__column">
                <div class="right-column__name">Company</div>
                <ul class="right-column__list">
                  <li class="right-column__item"><a href="">About us</a></li>
                  <li class="right-column__item"><a href="">Culture</a></li>
                  <li class="right-column__item"><a href="">Careers</a></li>
                  <li class="right-column__item"><a href="">News</a></li>
                </ul>
              </div>
              <div class="right-column__column">
                <div class="right-column__name">Security</div>
                <ul class="right-column__list">
                  <li class="right-column__item"><a href="/">Security</a></li>
                  <li class="right-column__item"><a href="/">Ypur policy</a></li>
                  <li class="right-column__item"><a href="/">FaceMe secure</a></li>
                </ul>
              </div>
              <div class="right-column__column">
                <div class="right-column__name">Help</div>
                <ul class="right-column__list">
                  <li class="right-column__item"><a href="/">Customer help</a></li>
                  <li class="right-column__item"><a href="/">System help</a></li>
                  <li class="right-column__item"><a href="/">System status</a></li>
                  <li class="right-column__item"><a href="/">Community</a></li>
                </ul>
              </div>
              <div class="right-column__column">
                <div class="right-column__name">Follow</div>
                <ul class="right-column__list">
                  <li class="right-column__item"><a href="/">Tweeter</a></li>
                  <li class="right-column__item"><a href="/">Instagram</a></li>
                  <li class="right-column__item"><a href="/">Facebook</a></li>
                  <li class="right-column__item"><a href="/">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <h4 class="footer__logo header__logo">FaceMe</h4>
      <p class="footer__rights">© 2022 FaceMe. All rights reserved.</p>
    </div>
  </div>
</footer>
