<header class="header">
  <div class="header__container">
    <div class="header__body">
      <div class="header__logo">
        <a href="/"> FaceMe </a>
      </div>
      <nav class="header__menu menu-header">
        <ul class="menu-header__list">
          <li class="menu-header__item">
            <a
              href="/"
              class="menu-header__link"
              >Token</a
            >
          </li>
          <li class="menu-header__item">
            <a
              href="/"
              class="menu-header__link"
              >Landing</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__button">
      <button class="button">New meeting</button>
    </div>
  </div>
</header>
